﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main class="container-fluid">
        <div class="d-flex justify-content-center">
            <div id="cardDados" class="card" style="width: 18rem;">
                <div class="card-header">
                    Ajuda
                </div>

                <div class="card-body">
                    <form method="GET" action="#">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome">
                        </div> <br>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email">
                        </div> <br>


                        <div class="form-group">
                            <label for="mensagem">Mensagem:</label>
                            <input type="text" name="mensagem" id="mensagem">
                        </div> <br>

                        <button type="submit" name="btn1" value="1" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
           
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</div>