﻿﻿@model Buffet.ViewModels.Acesso.CadastrarViewModel
@{
    ViewData["Title"] = "Cadastrar";
}

<div class="row">
    <div class="col">
        <h1 class="display-4">Cadastrar</h1>
    </div>
</div>
<div class="row">
    <div class="col-6 offset-3">
@if (Model.Mensagem != null)
        {
        <p>@Model.Mensagem</p>
        }

        @if (Model.ErrosCadastro != null)
        {
            <ul>
                @foreach (var erro in Model.ErrosCadastro)
                {
                    <li>@erro</li>
                }
            </ul>
        }

        <form method="post" action="/Acesso/Cadastrar">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" name="email" id="email" class="form-control" />
            </div>

            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" class="form-control" />
            </div>

            <div class="form-group">
                <label for="senhaConfirmacao">Confirme sua senha:</label>
                <input type="password" name="senhaConfirmacao" id="senhaConfirmacao" class="form-control" />
            </div>

            <div>
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
        </form>

        <div class="text-center">
            <a asp-controller="Acesso" asp-action="Login">Voltar ao login</a>
            <br>
            <a asp-controller="Acesso" asp-action="RecuperarConta">Recuperar Conta</a>
        </div>
    </div>
</div>
